@media (min-width: 600px) {
    .book-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .stats-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .stats-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .search-form{
        flex-direction: row;
    }

    .site-nav__list{
        flex-direction: row;
    }

    .notes-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .book-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .notes-list {
        grid-template-columns: repeat(3, 1fr);
    }
}